<section class="hacker">
<p style="float: right">
  <%= link_to image_tag(avatar_url(@account), height: 280, width: 280, alt: @account.username),
              account_path(@account.username) %></p>

<h1>Pair with <%= @account.username %>!</h1>

<p><%= @account.name %> has <%= @account.available_sessions.count %> available pairing sessions.</p>
<% @account.upcoming_sessions.each do |s| %>

<% if s.available? %>
<div>
  <%= link_to "reserve", reserve_path(@account.username, s), method: :post %>
  <% end %>
  Starting in <%= time_tag s.start_at, time_ago_in_words(s.start_at) %>
  for <%= distance_of_time_in_words(s.duration) %>
  (<%= time_tag s.start_at %> to <%= time_tag s.end_at %>)
</div>
<% end %>
</section>
