<!DOCTYPE html>
<html>
<head>
  <title>PairWithMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><a href="<%= new_user_registration_path %>">signup</a>
  <li><a href="<%= new_user_session_path      %>">login</a>
  <li><a href="<%= destroy_user_session_path  %>">logout</a>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
