<!DOCTYPE html>
<html>
<head>
  <title>PairWithMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% if signed_in?(:user) %>
  <li><a href="<%= profile_path %>">profile</a>
  <li><%= link_to "logout", destroy_user_session_path, method: :delete,
                                                       data:   { :confirm => "You sure?" } %>
  <% else %>
  <li><a href="<%= new_user_registration_path %>">signup</a>
  <li><a href="<%= new_user_session_path      %>">login</a>
  <% end %>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
