<!DOCTYPE html>
<html>
<head>
  <title>PairWithMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "home", root_path %>
  <% if signed_in?(:user) %>
  <li><%= link_to "profile", profile_path %>
  <li><%= link_to "logout", destroy_user_session_path, method: :delete,
                                                       data:   { :confirm => "You sure?" } %>
  <% else %>
  <li><%= link_to "signup", new_user_registration_path %>
  <li><%= link_to "login",  new_user_session_path %>
  <% end %>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
